In [22]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [23]:
# create a sample dataset
data = [['item1', 'item2', 'item3'], ['item1', 'item2', 'item4'], ['item2', 'item3', 'item4'], ['item1', 'item3']]
te = TransactionEncoder()

In [24]:
te_data = te.fit(data).transform(data)

In [25]:
print(te.columns_)

['item1', 'item2', 'item3', 'item4']

In [26]:
print(te_data)

[[ True  True  True False]
 [ True  True False  True]
 [False  True  True  True]
 [ True False  True False]]

In [29]:
df = pd.DataFrame(te_data, columns=te.columns_)
df

   item1  item2  item3  item4
0   True   True   True  False
1   True   True  False   True
2  False   True   True   True
3   True  False   True  False

In [31]:

# add a new transaction with items 'item1' and 'item2'
new_transaction = ['item1', 'item2', 'item4']
new_transaction_df = pd.DataFrame(te.transform([new_transaction]), columns=te.columns_)
df = pd.concat([df, new_transaction_df], ignore_index=True)

# print the updated DataFrame
df

   item1  item2  item3  item4
0   True   True   True  False
1   True   True  False   True
2  False   True   True   True
3   True  False   True  False
4   True   True  False   True
5   True   True  False   True