In [3]:
# Importing necessary libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [2]:
# Defining sample dataset
dataset = [['Apple', 'Beer', 'Rice', 'Chicken'],
           ['Apple', 'Beer', 'Rice'],
           ['Apple', 'Beer'],
           ['Apple', 'Bananas'],
           ['Milk', 'Beer', 'Rice', 'Chicken'],
           ['Milk', 'Beer', 'Rice'],
           ['Milk', 'Beer'],
           ['Apple', 'Bananas']]

In [4]:
# Encoding the dataset
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)

In [5]:
te.columns_

['Apple', 'Bananas', 'Beer', 'Chicken', 'Milk', 'Rice']

In [6]:
# Applying Apriori algorithm to find frequent itemsets
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)

In [7]:
frequent_itemsets

   support       itemsets
0    0.625        (Apple)
1    0.750         (Beer)
2    0.375         (Milk)
3    0.500         (Rice)
4    0.375  (Beer, Apple)
5    0.375   (Beer, Milk)
6    0.500   (Beer, Rice)

In [14]:
# Generating association rules
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

In [12]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Beer),(Apple),0.750,0.625,0.375,0.500000,0.800000,-0.09375,0.750,-0.5
1,(Apple),(Beer),0.625,0.750,0.375,0.600000,0.800000,-0.09375,0.625,-0.4
2,(Beer),(Milk),0.750,0.375,0.375,0.500000,1.333333,0.09375,1.250,1.0
3,(Milk),(Beer),0.375,0.750,0.375,1.000000,1.333333,0.09375,inf,0.4
4,(Beer),(Rice),0.750,0.500,0.500,0.666667,1.333333,0.12500,1.500,1.0
5,(Rice),(Beer),0.500,0.750,0.500,1.000000,1.333333,0.12500,inf,0.5

In [35]:
rs = rules[rules['antecedents'] == frozenset(['Beer'])].sort_values(by='lift', ascending=False)
print(rs)
print(rs['consequents'][2])

  antecedents consequents  antecedent support  consequent support  support  \
2      (Beer)      (Milk)                0.75               0.375    0.375
4      (Beer)      (Rice)                0.75               0.500    0.500
0      (Beer)     (Apple)                0.75               0.625    0.375

   confidence      lift  leverage  conviction  zhangs_metric
2    0.500000  1.333333   0.09375        1.25            1.0
4    0.666667  1.333333   0.12500        1.50            1.0
0    0.500000  0.800000  -0.09375        0.75           -0.5
frozenset({'Milk'})